
.blockquote{
    font-family: 'FuturaPT';
    font-size: 20px;
    line-height: 100%;
    font-weight: 400;
    color: #949494;

    position: relative;
    margin-top: 200px;


    &::before{
        content: "";
        position: absolute;
        background-image: url(/images/open.png);
        background-repeat: no-repeat;
        width: 140px;
        height: 120px;
        left: 260px;
        top: -30px;
    }

    &::after{
        content: "";
        position: absolute;
        background: url(/images/close.png) no-repeat;
        width: 140px;
        height: 120px;
        top: 70px;
        right: 220px;
    }
}

.blockquote__title{
    margin: 0 auto;
    width: 750px;
    
    &::before{
        content: "";
        position: absolute;
        background: url(/images/quote-line.png) no-repeat;
        width: 140px;
        height: 3px;

        top: -35px;
        left: 660px;
    }

    &::after{
        content: "";
        position: absolute;
        background: url(/images/quote-line.png) no-repeat;
        width: 140px;
        height: 3px;
        bottom: -35px;
        left: 660px;

        
    }
}

.blockquote__text{
    position: absolute;
    top: 150px;
    left: 550px;
}

