.hero{
    position: relative;
    display: flex;
    background-image: url(/images/hero-bg1.png) , url(/images/hero-bg2.png);
    background-repeat: no-repeat;
    background-position: left -250px top -50px ,  bottom -60px right -100px;
    height: 100vh;

  
}

.hero-wrap{
    

    margin-left: 650px;
    margin-top: 150px;
    
    
}

.hero-wrap__title{
    font-family: 'FuturaPT';
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;

    width: 600px;
    
}

.hero-wrap__title>span{
    color: #78C0DE;
}

.hero-wrap__subtitle{
    font-family: 'FuturaPT';
    font-size: 16px;
    line-height: 21px;
    padding-top: 29px;
    padding-bottom: 37px;
    width: 490px;
    color: #949494;

}

.hero-wrap__link{
    padding: 16px 48px;
    text-decoration: none;
    width: 181px;
    height: 50px;
    border-radius: 3px;
    background-color: #333333;
    color: #FFFFFF;
    &:hover{
        background-color: #FFBD54;
        color: #333333;
    }
    &:active{
        opacity: 0.6;
    }
    
}






